<!-- Config file for the game -->

<config>
  <app framerate_cap="30" frame_cap_on="true">
    <title>Mutual Cooperation</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera x ="0" y ="-570" smoothing_speed ="0.01f"/>
    <spawn_cam x ="0" y ="-570"/>
    <camera_debug value="false" speed="400.0f"/>
  </renderer>
  
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
      <folder>audio/music/</folder>
      <volume value = "26"/>
    <volume_fx value="26"/>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <layers>
      <bg_parallax_speed speed="0.05f"/>
      <first_parallax_speed speed ="0.70f"/>
      <decor_parallax_speed speed ="0.9f"/>
    </layers>
  </map>

  <entities>
    <player>
      <speed x="350.0f" y="0"/>
      <max_speed x="240.0f" y="500.0f"/>
      <acceleration x="60.0f" y="450.0f"/>
      <gravity value="40.0f"/>
      <boost_jump x="0"  y="700.0f" threshold="1000"/>
      <frontflip start="-6.0f" end="6.0f"/>
      <sprite_size w="38" h="58"/>
      <lives lives="3"/>
      <tpCooldown timer="0.0f" cd="1.0f"/>
      <godspeed gspeed ="450.0f"/>
      <jumpFX name ="Jump.wav"/>
      <DuoJumpFX name ="Jump_Duo.wav"/>
      <DeathFX name ="Death.wav"/>
      <ActivateFX name = "Activate.wav"/>
      <TPFX name = "TP.wav"/>
      <PassFX name = "Pass.wav"/>

      <player_1 name="player_1">
        <factoryMap mapName="factoryMap" x="192.0f" y="400.0f"/>
        <forestMap mapName="forestMap" x="192.0f" y="1088.0f"/>
      </player_1>

      <player_2 name="player_2">
        <factoryMap mapName="factoryMap" x="182.0f" y="400.0f"/>
        <forestMap mapName="forestMap" x="182.0f" y="1088.0f"/>
      </player_2>
    </player>

    <enemies>
      <update_cycle_length length="0.1f"/>
      <mecha>
        <position x="199" y="400"/>
        <speed x="125.0f" y="0"/>
        <max_speed x="240.0f" y="500.0f"/>
        <acceleration x="60.0f" y="450.0f"/>
        <gravity value="40.0f"/>
        <sprite_size w="56" h="78"/>
        <lives lives="1"/>
        <detection_radius radius="125"/>
      </mecha>

      <alien>
        <position x="212" y="400"/>
        <speed x="200.0f" y="125.0f"/>
        <sprite_size w="38" h="52"/>
        <lives lives="1"/>
        <detection_radius radius="125"/>
        <update_cycle_length length="0.1f"/>
      </alien>
    </enemies>
  </entities>

  <gui>
    <atlas file="textures/Spritesheets/UI/UI_sprites_resized.png"/>
    <fx_button>audio/fx/Mouse Click.wav</fx_button>
  </gui>

  <scene>
    <!--<map_name name="Tutorial_Level.tmx"></map_name>-->
    <map_name name="Test_map.tmx"></map_name>
    <map_name name="Test_map_2.tmx"></map_name>
    <audio path="Combat Heavy.ogg"/>
    <fade_time value="1"/>
  </scene>

</config>