<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <player>
    <player_1>
      <speed_x value="0"/>
      <speed_y value="0"/>
      <max_speed value="10"/>
      <acceleration value="1"/>
      <gravity value="0.81"/>
    </player_1>
    
    <player_2>
      <speed_x value="0"/>
      <speed_y value="0"/>
      <max_speed value="0"/>
      <acceleration value="1"/>
      <gravity value="0.81"/>
    </player_2>
  </player>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>